@import 'tailwindcss';

/* Tailwind CSS Default Breakpoints
-------------------------------------
sm   => 640px   (min-width)
md   => 768px   (min-width)
lg   => 1024px  (min-width)
xl   => 1280px  (min-width)
2xl  => 1536px  (min-width)
------------------------------------- */


/*=============================================
=            Globals            =
=============================================*/

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Raleway', 'sans-serif';
  --font-weight-light: 300;
}

.leading-normal {
  line-height: normal;
}

/*=====  End of Globals  ======*/






/*=============================================
=            Backgrounds/Textures            =
=============================================*/
/* For any free w/ attribution assets - post attribution here */
/* Background pattern from https://www.transparenttextures.com */

.bg-grid {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 4px 4px; /* Controls grid size */
}

.bg-grid-lg {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 48px 48px; /* Controls grid size */
}

.hero-gradient-overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 35%,
    transparent 60%
  );
}

/*=====  End of Backgrounds/Textures  ======*/